.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #8d99ae;
  border-radius: 2px;
  background: #8d99ae;
  color: #2b2d42;
  cursor: pointer;
  margin: 0 0.5rem;
  text-decoration: none;
  display: inline-block;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #4b566a;
  border-color: #4b566a;
  color: white;
}

.button--inverse {
  background: transparent;
  color: #2b2d42;
  border: 1px solid #2b2d42;
}

.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #4b566a;
}

.button--danger {
  background: #2b2d42;
  border-color: #2b2d42;
  color: white;
}

.button--danger:hover,
.button--danger:active {
  background: #4b566a;
  border-color: #4b566a;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ced4dd;
  color: #8d99ae;
  border-color: #ced4dd;
  cursor: not-allowed;
}

/* .button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
} */
