.form-control {
  margin: 1rem 0;
}

.form-control label,
.form-control input,
.form-control textarea {
  display: block;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.form-control input,
.form-control textarea {
  width: 100%;
  font: inherit;
  border: 1px solid #8d99ae;
  background: #edf2f4;
  padding: 0.15rem 0.25rem;
}

.form-control input:focus,
.form-control textarea:focus {
  outline: none;
  background: #edf2f4;
  border-color: #2b2d42;
}

.form-control--invalid label,
.form-control--invalid p {
  color: #d90429;
}

.form-control--invalid input,
.form-control--invalid textarea {
  border-color: #d90429;
  background: #ffd1d1;
}
